# Data Science Tools and Ecosystem

# Introduction
In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* List Data Science Languages
* List Data Science Libraries
* Evaluate arithmetic expressions

# Data Science Languages
Some of the popular languages Data Scientists use are:
1. **Python**
2. **R**
3. **SQL**
4. **Julia**

# Data Science Libraries
Some of the commonly used libraries used by Data Scientists include:
1. **Numpy**
2. **Pandas**
3. **TensorFlow**
4. **Seaborn**

| Data Sciene Tool |
| --- |
| Jupyter Notebook |
| python |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This is a simple arithmetic expression to multiply then add intigers.
result = (3*4)+5
print(result)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.
hours = 200/60
print(hours)

3.3333333333333335

# Author
Fathimath Shamseera.KP.